---
import Layout from '../layouts/Layout.astro';


---

<Layout hideLayout={false}> 
	<div class="h-svw flex flex-col justify-center items-center bg-[url('/images/inckarri_image.jpg')] bg-cover bg-center">
	</div>
</Layout>
