---
import Layout from '../layouts/Layout.astro';
<<<<<<< HEAD

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout hideLayout={false}> 
	<h1>Inckarri</h1>
	<p>Contenido ...</p>
=======
import Carousel from '../components/Carousel.astro';


---

<Layout hideLayout={false}> 
	<Carousel />
>>>>>>> develop
</Layout>
