---
export const prerender = false;
---

<div class="relative w-full max-w-lg mx-auto overflow-hidden">
  <div
    class="flex transition-transform duration-500 ease-in-out"
    id="carousel-inner"
  >
    <div class="min-w-full">
      <img
        src="/public/images/inckarri_image.jpg"
        alt="Imagen 1"
        class="w-full"
      />
    </div>
    <div class="min-w-full">
      <img
        src="/public/images/inckarri_image.jpg"
        alt="Imagen 2"
        class="w-full"
      />
    </div>
    <div class="min-w-full">
      <img
        src="/public/images/inckarri_image.jpg"
        alt="Imagen 3"
        class="w-full"
      />
    </div>
  </div>
  <div
    id="carrousel"
    class="absolute top-1/2 w-full flex justify-between transform -translate-y-1/2"
  >
    <button onclick="prevSlide()" class="bg-black bg-opacity-50 text-white p-2"
      >&#10094;</button
    >
    <button onclick="nextSlide()" class="bg-black bg-opacity-50 text-white p-2"
      >&#10095;</button
    >
  </div>
</div>

<script type="text/javascript" is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    let currentIndex = 0;

    const carouselInner = document.getElementById('carousel-inner');
    const slidesCount = carouselInner.children.length;

    function updateCarousel() {
      const offset = -currentIndex * 100;
      carouselInner.style.transform = `translateX(${offset}%)`;
    }

    window.nextSlide = function () {
      currentIndex = (currentIndex + 1) % slidesCount;
      updateCarousel();
    };

    window.prevSlide = function () {
      currentIndex = (currentIndex - 1 + slidesCount) % slidesCount;
      updateCarousel();
    };
    setInterval(nextSlide, 5000); // Cambia cada 5 segundos
  });

</script>
