<footer class="flex flex-col gap-4">
    <div class="flex flex-row justify-between">
        <a href="#">
            <img class="size-11" src="public/images/inckarri_image.jpg"> 
        </a>
        <div class="">
            <div class="">
               <p>Productos</p> 
                <div class="">
                    <a href="#">Listado</a>  
                </div> 
            </div>
            <div class="">
                <p>Servicios</p>
                <div class="">
                    <a href="#">Lorem ipsum dolor sit </a>
                    <a href="#">Lorem ipsum dolor sit </a>
                    <a href="#">Lorem ipsum dolor sit </a>
                    <a href="#">Lorem ipsum dolor sit </a>
                </div> 
            </div>
            <div class="">
                <p>Infórmate</p>
                <div class="">
                    <a href="#">Lorem ipsum dolor sit </a>
                    <a href="#">Lorem ipsum dolor sit </a>
                    <a href="#">Lorem ipsum dolor sit </a>
                </div> 
            </div>
        </div>
    </div>
    <div class=""></div>
    <div class="flex justify-between">
        <div class="gap-4">
            <a href="https://linkedin.com/name" target="_blank">Linkedin</a>
            <a href="https://instagram.com/name" target="_blank">Instagram</a>
            <a href="https://google.com" target="_blank">Web</a>
        </div>
        <div class="email-send">
            <p>Déjanos tu email</p>
            <p>Te mantendremos al tanto de nuestros productos y servicios</p>
            <div>
                <form action=""> 
                    <input type="text" placeholder="Email">
                    <button type="submit" class="button-email">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    <div class=""></div>
    <div class="flex justify-between">
        <p>© 2025 Inkarri, todos los derechos reservados.</p>
        <div class="flex gap-6">
            <a href="#">Políticas de Cookies</a>
            <div class=""></div>
            <a href="#">Políticas de privacidad</a>
        </div>
    </div>
</footer>