<header class="flex flex-row justify-between">
    <img class="size-11" src="public/images/inckarri_image.jpg">
    <div class="flex flex-row" >
        <p>Visión</p>
        <p>Servicios</p>
        <p>Beneficios</p>
        <p>Preguntas Frecuentes</p>
        <p>Contacto</p>
    </div>
    <div class="flex flex-row">
        <a href="#">
            <i></i>
            <p>Iniciar sesión</p>
        </a>
        <div></div>
        <a href="#">registrase</a>
        <div></div>
        <a>
            <i></i>
            <p>Inglés</p>
        </a>
    </div>
</header>